@import url('https://fonts.googleapis.com/css2?family=Odibee+Sans&display=swap');

.section-skills {
  margin-top: 20%;
  margin-left: 15%;
  .main-title {
    font-family: 'Odibee Sans', cursive;
  }
}
